body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: white;

}

.miscBtns button {
    height: 30px;
    background: #3951b0;
    color: white;
    border: 1px solid #1e2b69;
    border-radius: 4px;
}

.miscBtns {
    margin: 15px 10%;

}

.miscBtns select {
    height: 30px;
    background: #3951b0;
    border: 1px solid #1e2b69;
    color: white;
    border-radius: 4px;
}

.miscBtns select:hover, .miscBtns button:hover {
    background: #2f4391;
}

.grid {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(5, 19%);
    background-color: #22254b;
    /*box-shadow: 0 5px 6px black;*/
    padding: 0 10% 5vh;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: #3951b0;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background: #5d76cb;
}

.card {
    background-color: black;
    box-shadow: 0 5px 6px black;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.movie-info {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

#description {
    height: 100%;
    grid-column: 3 / 5;
    grid-row: 1;
    background: rgba(93, 118, 203, 0.34);
    box-shadow: none;

}

#infopic {
    width: 75%;
}

.fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;
}

.fas, .fa-heart {
    pointer-events: none;
}


h4 {
    margin: 0;
    padding-top: 10px;
}

.cover {
    padding: 0;
    margin: 0;
}

span {
    font-size: 1.2em;
}

.great {
    color: #10de10;
}

.bad {
    color: Red;
}

.mid {
    color: orange;
}

header #quote {
    width: 100%;
    font-size: 0.8rem;
    font-style: italic;
    overflow: hidden;
}

img {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 90.5%;
    display: block;
}

p {
    padding: 0;
    margin: 0.25rem 0 1rem;
}

.card .fav-btn {
    font-size: 1.2rem;

}

.movie-name {
    padding: 0 10px;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    height: 9.5%;
    font-size: 0.85em;
    align-items: center;
    background: #3951b0;
}

.detailOverlay {
    position: absolute;
    transition: transform 0.3s ease-in;
    left: 0;
    right: 0;
    transform: translateY(102%);
    bottom: 0;
    top: 90%


}

.detailOverlay button {
    height: 100%;


}

.card:hover .detailOverlay {
    display: unset;
    transform: translateY(10%);

}

.movie-info img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.card.fave .movie-name {
    background: #304ad5;
}

.card.fave .fav-btn {
    color: #ff0000;
    font-size: 1.2rem;
}

header h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}


header {
    overflow: hidden;
    color: white;
    background: rgb(57, 81, 176);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.0em;

}


h3 {
    padding: 0;
    margin: 0;
}

.card .details {
    width: 100%;
    background: rgba(255, 255, 255, 0.71);
    font-weight: bold;
    border: none;
    color: black;
}

.details:hover {
    background: rgba(255, 255, 255, 0.57);

}

.card .info {
    width: 100%;
    height: 7.5%;
    margin: 0;
    background: #5d76cb;
}

.light-mode, .light-mode .grid {
    background: white;
}

.light-mode .movie-info {
    color: black;
}


.light-mode header {
    background: #5d76cb;
}

.modal {
    position: fixed;
    width: 50vw;
    height: 50vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
    top: 25%;
    left: 25%;
    color: black;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}

.modal-container {
    border-radius: 10px;
    min-height: 475px;
    color:white;
    background-size: cover;
    background: linear-gradient(62deg, rgba(34,37,75,0.72) 3%, rgba(57,81,176,0.72) 37%, rgba(76,45,253,0.72) 100%);
    position: relative;
    padding: 20px;
}


.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    appearance: none;
    color: #cc2323;
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.modal-content h1 {
    padding: 0;
    margin: 0;
}
.modal-content span {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 0 25px;

}

.modal-content {
    width: 40vw;
}

.modal-content img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .grid {
        display: grid;
        gap: 1%;
        grid-template-columns: repeat(2, 49%);
        background-color: #22254b;
        padding: 2vh 0 5vh;
    }
    #infopic {
        width: 100%;
    }

    .miscBtns select {
        height: 30px;
        background: #3951b0;
        border: 1px solid #1e2b69;
        color: white;
        border-radius: 4px;
    }

    .miscBtns button {
        height: 30px;
        background: #3951b0;
        color: white;
        border: 1px solid #1e2b69;
        border-radius: 4px;
    }

    .miscBtns {
        position: unset;
        margin: 15px 10px 0;
    }
    header h1 {
        font-size: 1.5em;
    }
    span {
         font-size: 1em;
    }
    .detailOverlay {
        position: absolute;
        bottom: 0;
        transform: unset;
        top: 90%;
        width: 100%;
    }

    .detailOverlay button {
        height: 100%;
        transform: unset;
    }



    .card:hover .detailOverlay {
        display: unset;
        transform: unset;
    }
    h3 {
        font-size: 1em;
    }
    .modal-content {
        width: 80vw;
    }
}
