body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: white;

}

.grid {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4, 24%);
    /*background: rgba(191, 182, 182, 0.15);*/
    /*box-shadow: 0 5px 6px black;*/
    padding: 3vh 17.5% 5vh;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: #3951b0;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background: #5d76cb;
}
.card {
    background-color: black;
    box-shadow: 0 5px 6px black;
    margin-bottom: 10px;
}

.movie-info {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding-left: 2%;
    padding-top: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

#description {
    height: 100%;
    grid-column: 3 / 5;
    grid-row: 1;
    background: rgba(93, 118, 203, 0.34);
    box-shadow: none;

}
#infopic {
    width: 70%;
}

.fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;
}

.fas, .fa-heart {
    pointer-events: none;
}

.fav-btn.active, .fav-btn:hover {
    color: #e05454;
    font-size: 1.2rem;
}

h4 {
    margin: 0;
}

.cover {
    padding: 0;
    margin: 0;
}
span {
    font-weight: bold;
    font-size: 1.2em;
}

.green {
    color: #10de10;
}

.red {
    color:Red;
}

.orange {
    color:orange;
}

img {
    overflow: hidden;
    width: 100%;
    height: 92.5%;
    object-fit: cover;
    display: block;
}

 p {
     padding: 0;
     margin: 0.25rem 0 1rem;
 }

.card .fav-btn {
    font-size: 1.3em;
}

.movie-name {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    height: 9.5%;
    align-items: center;
    background: #3951b0;
}

.movie-info img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.movie-name.active {
    background: #5d76cb;
}

header {
    width: 100%;
    color: white;
    background: rgba(93, 118, 203, 0.37);
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.0em;
}


h3 {
    padding: 0;
    margin:0;
}

.card .info {
    width: 100%;
    height: 7.5%;
    margin: 0;
    background: #5d76cb;
}

.light-mode {
    background: white;
}

.light-mode .movie-info {
    color: black;
}

.light-mode #description {
    background: rgba(220, 220, 225, 0.89);
}

.light-mode .grid {
    /*    background: rgba(93, 118, 203, 0.37);*/
    /*    box-shadow: 0 5px 6px black;*/

}

.light-mode header {
    background: #5d76cb;


}